.footer {
padding: 30px 0;
background-color: $blue-100;
  // .footer__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__logo-box
  &__logo-box {}

  // .footer__menu
  &__menu {
    background-color: transparent;
  }
}

.container {}

.logo-box {

  // .logo-box__logo
  &__logo {}

  // .logo-box__img
  &__img {}

  // .logo-box__text
  &__text {}
}

.menu {

  // .menu__list
  &__list {}

  // .menu__item
  &__item {}

  // .menu__link
  &__link {}

  // .menu__cross
  &__cross {}
}
