.social {
  display: flex;

  // .social__item
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.social-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  //.social-wrapper__text
  &__text {
    font-weight: 400;
    line-height: 1.2;
  }

  .social {
    margin-right: 30px;
  }
}