<section class="about section">
  <div class="container">
    <h2 class="about__title title">
      О клинике
    </h2>

    <h3 class="about__subtitle subtitle">
      Вы получите качественное лечение на современном оборудовании по приемлимым ценам
    </h3>

    <div class="about__content">

      <div class="about__info">
        <p class="about__info-text">
          Философия клиники Ваша здоровая улыбка – наша работа. В стенах нашей стоматологической клиники Вы всегда
          можете
          рассчитывать на профессиональное оказание услуг в кратчайшие сроки.
        </p>

        <ul class="about__info-list">
          <li class="about__info-item">
            Современное оборудование, профессионализм врачей, опыт, а главное – внимательное отношение к пациенту.
          </li>

          <li class="about__info-item">
            Главное направление – оказание качественной стоматологической помощи (детская стоматология, терапевтическое
            лечение,
            хирургическое лечение, имплантология, ортодонтическое лечение, ортопедия).
          </li>

          <li class="about__info-item">
            Каждый месяц у нас проходят акции и специальные предложения
          </li>
        </ul>
      </div>
      
      <div class="about__img-box">
        <img class="about__info-img" src="images/about/info-img.jpg" alt="фото кабинета Стоматологии">
      </div>


    </div>

    <div class="about__slider">
      <button class="about__btn-prew slide-arow slide-arow--prew" type="button">
        <span class="sr-only">
          кнопка переключения на предыдущий слайд
        </span>
      </button>

      <button class="about__btn-next slide-arow slide-arow--next" type="button">
        <span class="sr-only">
          кнопка переключения на предыдущий слайд
        </span>
      </button>

      <ul class="about__inner">

        <li class="about__item">
          <div class="about__box">
            <img class="about__img" src="images/about/img-1.jpg" alt="фото отзывы клиентов">
          </div>
        </li>

        <li class="about__item">
          <div class="about__box">
            <img class="about__img" src="images/about/img-2.jpg" alt="фото отзывы клиентов">
          </div>
        </li>

        <li class="about__item">
          <div class="about__box">
            <img class="about__img" src="images/about/img-3.jpg" alt="фото отзывы клиентов">
          </div>
        </li>

        <li class="about__item">
          <div class="about__box">
            <img class="about__img" src="images/about/img-4.jpg" alt="фото отзывы клиентов">
          </div>
        </li>

        <li class="about__item">
          <div class="about__box">
            <img class="about__img" src="images/about/img-3.jpg" alt="фото отзывы клиентов">
          </div>
        </li>

      </ul>
    </div>
  </div>
</section>