<section id="assistant" class="assistant section">
  <div class="container">

    <h3 class="assistant__subtitle subtitle">
      Выбрав, интересующую вас услугу ,<span>наш электронный помощник</span>, поможет вам быстро подобрать нужного
      специалиста
    </h3>

    <ul class="assistant__inner">
      <li class="assistant__item">
        <a class="assistant__link" href="assistant_html/surgery.html">
          <h5 class="assistant__item-title">
            Хирургия
          </h5>

          <div class="assistant__item-img">
            <img class="assistant__img" src="images/assistant/assistant-img-1.png" alt="Изображение удаления зуба"
              width="73px" height="103px">
          </div>
        </a>
      </li>

      <li class="assistant__item">
        <a class="assistant__link" href="assistant_html/therapy.html">
          <h5 class="assistant__item-title">
            Терапия
          </h5>

          <div class="assistant__item-img">
            <img class="assistant__img" src="images/assistant/assistant-img-2.png"
              alt="Изображение инструментов терапевта-стоматолога" width="73px" height="103px">
          </div>
        </a>
      </li>

      <li class="assistant__item">
        <a class="assistant__link" href="assistant_html/orthopedics.html">
          <h5 class="assistant__item-title">
            Ортопедия
          </h5>

          <div class="assistant__item-img">
            <img class="assistant__img" src="images/assistant/assistant-img-3.png" alt="Изображение коронки зуба"
              width="73px" height="103px">
          </div>
        </a>
      </li>

      <li class="assistant__item">
        <a class="assistant__link" href="assistant_html/implantation.html">
          <h5 class="assistant__item-title">
            Имплантация
          </h5>

          <div class="assistant__item-img">
            <img class="assistant__img" src="images/assistant/assistant-img-4.png" alt="Изображение узубных имплантов"
              width="73px" height="103px">
          </div>
        </a>
      </li>

      <li class="assistant__item">
        <a class="assistant__link" href="assistant_html/orthodontics.html">
          <h5 class="assistant__item-title">
            Ортодонтия
          </h5>

          <div class="assistant__item-img">
            <img class="assistant__img" src="images/assistant/assistant-img-5.png" alt="Изображение бректов на зубах"
              width="73px" height="103px">
          </div>
        </a>
      </li>

      <li class="assistant__item">
        <a class="assistant__link" href="assistant_html/whitening.html">
          <h5 class="assistant__item-title">
            Отбеливание
          </h5>

          <div class="assistant__item-img">
            <img class="assistant__img" src="images/assistant/assistant-img-6.png" alt="Изображение отбеленного зуба"
              width="73px" height="103px">
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>