<section class="contacts section">

  <div class="contacts__wrapper" style="background-image: url('images/bg/contacts-bg.jpg')">
    <div class="container">
      <div class="contacts__content">
        <div class="contacts__title">
          Контакты
        </div>

        <address class="contacts__address">
          <p class="contacts__text">
            г. Коломна, ул. Октябрьской революции д. 161
          </p>

          <a class="contacts__way" href="#">
            Проложить маршрут
          </a>

          <p class="contacts__time">
            с 9:00 до 21:00
          </p>
          <p class="contacts__time-text">
            последняя запись до 19:00
          </p>


          <ul class="contacts__phones-inner">
            <li class="contacts__phone">
              <a class="contacts__phone-link" href="tel:+79850255566">
                +7 (496) 614-15-15
              </a>
            </li>

            <li class="contacts__phone">
              <a class="contacts__phone-link" href="tel:+79260255767">
                +7 (926) 025-57-67
              </a>
            </li>

            <li class="contacts__phone">
              <a class="contacts__phone-link" href="tel:+79850255566">
                +7 (985) 025-55-66
              </a>
            </li>
          </ul>

          <div class="contacts__social-wrapper social-wrapper">
            <ul class="contacts__social social">
              <li class="social__item">
                <a class="social__link" href="#">
                  <img class="social__img" src="images/social/telegram.svg" alt="сылка на тлеграм">
                </a>
              </li>

              <li class="social__item">
                <a class="social__link" href="#">
                  <img class="social__img" src="images/social/whatsapp.svg" alt="сылка на ватсап">
                </a>
              </li>
            </ul>

            <p class="social-wrapper__text">
              спросить в мессенджере
            </p>
          </div>

          <div class="contacts__vk">
            <a class="contacts__vk-link" href="#">
              <img class="social__img" src="images/social/vk.png" alt="сылка на ВКонтакте">
            </a>

            <p class="contacts__vk-text">
              Наша круппа в ВКонтакте
            </p>
          </div>
        </address>

        </form>
      </div>
    </div>
  </div>

</section>