<section class="doctors section">
  <div class="container">
    <h2 class="doctors__title title">
      Врачи
    </h2>

    <h3 class="doctors__subtitle subtitle">
      В нашей клинике работают высококлассные специалисты с большим опытом работы. Выберите подходящего врача и
      запишитесь на консультацию.
    </h3>


    <div class="doctors__sliders">

      <div class="doctors__min-slider-wrapper">
        <ul class="doctors__min-slider min-slider">
          <li class="min-slider__item">
            <img class="min-slider__img" src="images/doctors/min-img-1.png" alt="фото врача">

            <div class="min-slider__name">
              Макаров Михаил Демьянович
            </div>

            <p class="min-slider__profession">
              Врач-стоматолог <span>Ведущий специалист</span>
            </p>
          </li>

          <li class="min-slider__item">
            <img class="min-slider__img" src="images/doctors/min-img-2.png" alt="фото врача">

            <div class="min-slider__name">
              Блинов Егор Егорович
            </div>

            <p class="min-slider__profession">
              Врач-стоматолог
            </p>
          </li>

          <li class="min-slider__item">
            <img class="min-slider__img" src="images/doctors/min-img-3.png" alt="фото врача">

            <div class="min-slider__name">
              Кузьмин Артём Кириллович
            </div>

            <p class="min-slider__profession">
              Врач-стоматолог
            </p>
          </li>

          <li class="min-slider__item">
            <img class="min-slider__img" src="images/doctors/min-img-4.png" alt="фото врача">

            <div class="min-slider__name">
              Соловьева Аделина Фёдоровна
            </div>

            <p class="min-slider__profession">
              Врач-стоматолог
            </p>
          </li>

          <li class="min-slider__item">
            <img class="min-slider__img" src="images/doctors/min-img-5.png" alt="фото врача">

            <div class="min-slider__name">
              Дмитриева Анна Александровна
            </div>

            <p class="min-slider__profession">
              Врач-стоматолог
            </p>
          </li>

          <li class="min-slider__item">
            <img class="min-slider__img" src="images/doctors/min-img-6.png" alt="фото врача">

            <div class="min-slider__name">
              Попова Дарья Даниловна
            </div>

            <p class="min-slider__profession">
              Врач-стоматолог
            </p>
          </li>
        </ul>
      </div>



      <div class="doctors__big-slider-wrapper">
        <button class="big-slider-btn__prew slide-arow slide-arow--prew" type="button">
          <span class="sr-only">
            кнопка переключения на предыдущий слайд
          </span>
        </button>

        <button class="big-slider-btn__next slide-arow slide-arow--next" type="button">
          <span class="sr-only">
            кнопка переключения на предыдущий слайд
          </span>
        </button>

        <div class="box-shadow-wrapper">
          <ul class="doctors__big-slider big-slider">
            <li class="big-slider__item">
              <img class="big-slider__img" src="images/doctors/big-img-1.png" alt="фото врача">

              <div class="big-slider__name">
                Макаров Михаил Демьянович
              </div>

              <p class="big-slider__profession">
                Врач-стоматолог <span>Ведущий специалист</span>
              </p>

              <div class="big-slider__review">
                <p class="big-slider__review-title">
                  Опыт работы более 25 лет
                </p>

                <p class="big-slider__review-sertificats">
                  Действующие сертификаты:
                </p>

                <p class="big-slider__review-text">
                  стоматология ортопедическая; стоматология хирургическая
                </p>

                <p class="big-slider__review-direction">
                  Все виды высококачественного протезирования: <span>съемные несъемные, безметалловые конструкции,
                    цирконий,
                    протезирование на имплантах, драгметаллах, вкладки,
                    виниры, гнатология и хирургия</span>
                </p>
              </div>
            </li>

            <li class="big-slider__item">
              <img class="big-slider__img" src="images/doctors/big-img-2.png" alt="фото врача">

              <div class="big-slider__name">
                Блинов Егор Егорович
              </div>

              <p class="big-slider__profession">
                Врач-стоматолог
              </p>

              <div class="big-slider__review">
                <p class="big-slider__review-title">
                  Опыт работы более 5 лет
                </p>

                <p class="big-slider__review-sertificats">
                  Действующие сертификаты:
                </p>

                <p class="big-slider__review-text">
                  стоматология общей практики; стоматология хирургическая
                </p>

                <p class="big-slider__review-direction">
                  Направленность:
                </p>

                <p class="big-slider__review-text">
                  имплантация, пародонтология, удаление зубов любой сложности
                </p>

              </div>
            </li>

            <li class="big-slider__item">
              <img class="big-slider__img" src="images/doctors/big-img-3.png" alt="фото врача">

              <div class="big-slider__name">
                Кузьмин Артём Кириллович
              </div>

              <p class="big-slider__profession">
                Врач-стоматолог <span>Ведущий специалист</span>
              </p>

              <div class="big-slider__review">
                <p class="big-slider__review-title">
                  Опыт работы более 5 лет
                </p>

                <p class="big-slider__review-sertificats">
                  Действующие сертификаты:
                </p>

                <p class="big-slider__review-text">
                  стоматология общей практики; стоматология хирургическая
                </p>

                <p class="big-slider__review-direction">
                  Направленность:
                </p>

                <p class="big-slider__review-text">
                  протезирование зубов, хирургическое удаление, терапевтическое лечение и отбеливание
                </p>

              </div>
            </li>

            <li class="big-slider__item">
              <img class="big-slider__img" src="images/doctors/big-img-4.png" alt="фото врача">

              <div class="big-slider__name">
                Соловьева Аделина Фёдоровна
              </div>

              <p class="big-slider__profession">
                Врач-стоматолог <span>Ведущий специалист</span>
              </p>

              <div class="big-slider__review">
                <p class="big-slider__review-title">
                  Опыт работы более 10 лет
                </p>

                <p class="big-slider__review-sertificats">
                  Действующие сертификаты:
                </p>

                <p class="big-slider__review-text">
                  стоматология общей практики; стоматология терапевтическая; стоматология ортодонтическая
                </p>

                <p class="big-slider__review-direction">
                  Направленность:
                </p>

                <p class="big-slider__review-text">
                  терапевтическое лечение, эстетическая реставрация зубов и исправление прикуса любой сложности
                </p>

              </div>
            </li>

            <li class="big-slider__item">
              <img class="big-slider__img" src="images/doctors/big-img-5.png" alt="фото врача">

              <div class="big-slider__name">
                Дмитриева Анна Александровна
              </div>

              <p class="big-slider__profession">
                Врач-стоматолог <span>Ведущий специалист</span>
              </p>

              <div class="big-slider__review">
                <p class="big-slider__review-title">
                  Опыт работы более 20 лет
                </p>

                <p class="big-slider__review-sertificats">
                  Действующие сертификаты:
                </p>

                <p class="big-slider__review-text">
                  стоматология общей практики; стоматология ортопедическая
                </p>

                <p class="big-slider__review-direction">
                  Направленность:
                </p>

                <p class="big-slider__review-text">
                  терапевтическое лечение, все виды протезирования, хирургическое удаление зубов
                </p>

              </div>
            </li>

            <li class="big-slider__item">
              <img class="big-slider__img" src="images/doctors/big-img-6.png" alt="фото врача">

              <div class="big-slider__name">
                Попова Дарья Даниловна
              </div>

              <p class="big-slider__profession">
                Врач-стоматолог <span>Ведущий специалист</span>
              </p>

              <div class="big-slider__review">
                <p class="big-slider__review-title">
                  Опыт работы более 5 лет
                </p>

                <p class="big-slider__review-sertificats">
                  Действующие сертификаты:
                </p>

                <p class="big-slider__review-text">
                  стоматология общей практики; стоматология хирургическая
                </p>

                <p class="big-slider__review-direction">
                  Направленность:
                </p>

                <p class="big-slider__review-text">
                  терапевтическое лечение, эстетическая реставрация, хирургическое удаление зубов , профессиональная
                  гигиена и отбеливание
                </p>

              </div>
            </li>
          </ul>
        </div>

        <button class="doctors__button button button--transparent" type="button">
          Записаться
        </button>

        <div class="doctors__social-wrapper social-wrapper">
          <ul class="doctors__social social">
            <li class="social__item">
              <a class="social__link" href="#">
                <img class="social__img" src="images/social/telegram.svg" alt="сылка на тлеграм">
              </a>
            </li>

            <li class="social__item">
              <a class="social__link" href="#">
                <img class="social__img" src="images/social/whatsapp.svg" alt="сылка на ватсап">
              </a>
            </li>
          </ul>

          <p class="social-wrapper__text">
            спросить в мессенджере
          </p>
        </div>
      </div>


    </div>


  </div>
</section>