<section id="documentation" class="documentation section">
  <div class="container">
    <h2 class="documentation__title title">
      Лицензии и награды
    </h2>

    <h3 class="documentation__subtitle subtitle">
      Деятельность клиники сертифицирована, мы имеем все необходимые лицензии и разрешающие документы.
    </h3>

    <div class="documentation__slider">
      <button class="documentation__btn-prew slide-arow slide-arow--prew" type="button">
        <span class="sr-only">
          кнопка переключения на предыдущий слайд
        </span>
      </button>

      <button class="documentation__btn-next slide-arow slide-arow--next" type="button">
        <span class="sr-only">
          кнопка переключения на предыдущий слайд
        </span>
      </button>

      <ul class="documentation__inner">
        <li class="documentation__item">
              <img class="documentation__img" src="images/documentation/documentation-1.png" alt="фото документа">
        </li>

        <li class="documentation__item">
              <img class="documentation__img" src="images/documentation/documentation-1.png" alt="фото документа">
        </li>

        <li class="documentation__item">
              <img class="documentation__img" src="images/documentation/documentation-1.png" alt="фото документа">
        </li>

        <li class="documentation__item">
              <img class="documentation__img" src="images/documentation/documentation-1.png" alt="фото документа">
        </li>

        <li class="documentation__item">
              <img class="documentation__img" src="images/documentation/documentation-1.png" alt="фото документа">
        </li>
      </ul>
    </div>
  </div>
</section>