<section class="free-inspection section">
  <div class="container">
    <h2 class="free-inspection__title title">
      Бесплатная консультация врача
    </h2>

    <h3 class="free-inspection__subtitle subtitle">
      На бесплатной консультации врач клиники проведет диагностику всех зубов:
    </h3>

    <ul class="free-inspection__inner">
      <li class="free-inspection__item">

        <div class="free-inspection__item-wrapper">
          <img class="free-inspection__item-img" src="images/free-inspection/free-inspection-one.jpg"
            alt="Фото полного осмотра" width="410" height="280">
        </div>

        <h4 class="free-inspection__item-title">
          Полный осмотр и диагностика полости рта
        </h4>
        <p class="free-inspection__item-text">
          При необходимости сделаем дополнительный снимок зубов, у нас в клинике
        </p>
      </li>

      <li class="free-inspection__item">
        <div class="free-inspection__item-wrapper">
          <img class="free-inspection__item-img" src="images/free-inspection/free-inspection-two.jpg"
            alt="Фото полного осмотра" width="410" height="280">
        </div>

        <h4 class="free-inspection__item-title">
          Составит 2-3 плана лечения на выбор
        </h4>
        <p class="free-inspection__item-text">
          Вы сможете выбрать подходящий план лечения, исходя из бюджета
        </p>
      </li>

      <li class="free-inspection__item">
        <div class="free-inspection__item-wrapper">
          <img class="free-inspection__item-img" src="images/free-inspection/free-inspection-three.jpg"
            alt="Фото полного осмотра" width="410" height="280">
        </div>

        <h4 class="free-inspection__item-title">
          При необходимости проведем проф. гигиену
        </h4>
        <p class="free-inspection__item-text">
          Чистка зубов в 4 этапа
        </p>
      </li>
    </ul>

    <button class="free-inspection__button button">
      Записаться
    </button>
  </div>
</section>