<div id="popup" class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <a class="popup__close close-popup close-button" href="#">
        <span class="sr-only">
          кнопка скрытия попап окна
        </span>
      </a>

      <h4 class="popup__title">
        Для участия в акции подпишитесь на нашу группу в ВКонтакте
      </h4>

      <button class="popup__button button button--transparent" type="button">
        <span>Стать участником</span>
      </button>

      <div class="popup__social-wrapper social-wrapper">
        <ul class="popup__social social">
          <li class="social__item">
            <a class="social__link" href="#">
              <img class="social__img" src="images/social/telegram.svg" alt="сылка на телеграм">
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#">
              <img class="social__img" src="images/social/whatsapp.svg" alt="сылка на ватсап">
            </a>
          </li>
        </ul>

        <p class="social-wrapper__text">
          спросить в мессенджере
        </p>
      </div>
    </div>
  </div>
</div>


<div id="popup_2" class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <a class="popup__close close-popup close-button" href="#">
        <span class="sr-only">
          кнопка скрытия попап окна
        </span>
      </a>

      <h4 class="popup__title  popup__title--price">
        Скачайте прайс-лист и ознакомьтесь с ценами
      </h4>

      <button class="popup__button button button--transparent" type="button">
        Скачать
      </button>

      <div class="popup__social-wrapper social-wrapper">
        <ul class="popup__social social">
          <li class="social__item">
            <a class="social__link" href="#">
              <img class="social__img" src="images/social/telegram.svg" alt="сылка на телеграм">
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#">
              <img class="social__img" src="images/social/whatsapp.svg" alt="сылка на ватсап">
            </a>
          </li>
        </ul>

        <p class="social-wrapper__text">
          спросить в мессенджере
        </p>
      </div>
    </div>
  </div>
</div>

<div id="popup_3" class="popup">
  <div class="popup__body">
    <div class="popup__content popup__content--video">
      <a class="popup__close close-popup close-button" href="#">
        <span class="sr-only">
          кнопка скрытия попап окна
        </span>
      </a>

      <iframe src="https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ?start=42"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</div>