<section class="privelege">
  <h2 class="sr-only">
    Привелегии
  </h2>
  <div class="container">
    <ul class="privelege__inner">

      <li class="privelege__item privelege__item--calendar">
        <div class="privelege__title">
          Работаем с 2011 года
        </div>

        <p class="privelege__text">
          Многолетний опыт работы - залог качественного сервиса
        </p>
      </li>

      <li class="privelege__item privelege__item--usergear">
        <div class="privelege__title">
          Опытные врачи
        </div>

        <p class="privelege__text">
          Огромный опыт персонала и слаженность работы
        </p>
      </li>

      <li class="privelege__item privelege__item--fingerprint">
        <div class="privelege__title">
          Уникальный подход
        </div>

        <p class="privelege__text">
          Применяем в своей работе современные технологии
        </p>
      </li>
    </ul>
  </div>
</section>