<section class="reviews section">
  <div class="container">
    <h2 class="reviews__title title">
      Отзывы
    </h2>

    <h3 class="reviews__subtitle subtitle">
      Нашу клинику за годы работы посетили сотни пациентов. Всегда рады видеть довольных клиентов. Ваша улыбка - это
      наша работа!
    </h3>

    <div class="reviews__slider">
      <button class="reviews__btn-prew slide-arow slide-arow--prew" type="button">
        <span class="sr-only">
          кнопка переключения на предыдущий слайд
        </span>
      </button>

      <button class="reviews__btn-next slide-arow slide-arow--next" type="button">
        <span class="sr-only">
          кнопка переключения на предыдущий слайд
        </span>
      </button>

      <ul class="reviews__inner">

        <li class="reviews__item">
          <div class="reviews__box">
            <div class="reviews__img-wrapper">
              <img class="reviews__img" src="images/reviews/people-1.jpg" alt="фото пациента" >
            </div>

            <div class="reviews__item-content">
              <p class="reviews__name">
                Данилова Ольга
              </p>

              <p class="reviews__text">
                Клиника чистая, уютная. Персонал улыбчивый, вежливый, услужливый. Всегда объяснят если что не понятно
                несколько раз, с
                таким персоналом приятно общаться. Мне уделили довольно много времени, всё подробно рассказали и
                проконсультировали.
              </p>

              <p class="reviews__date">
                12.02.2020
              </p>
            </div>

          </div>
        </li>

        <li class="reviews__item">
          <div class="reviews__box">
            <div class="reviews__img-wrapper">
              <img class="reviews__img" src="images/reviews/people-2.jpg" alt="фото пациента">
            </div>

            <div class="reviews__item-content">
              <p class="reviews__name">
                Корчагина Алёна
              </p>

              <p class="reviews__text">
                Хочу сказать огромное СПАСИБО врачам и персоналу Стоматологии Семейный Доктор. Я ваш вечный клиент и
                главное
                эксклюзивный. Очень рада что мы познакомились. СПАСИБО!
              </p>

              <p class="reviews__date">
                12.02.2020
              </p>
            </div>
          </div>
        </li>

        <li class="reviews__item">
          <div class="reviews__box">
            <div class="reviews__img-wrapper">
              <img class="reviews__img" src="images/reviews/people-1.jpg" alt="фото пациента">
            </div>

            <div class="reviews__item-content">
              <p class="reviews__name">
                Данилова Ольга
              </p>

              <p class="reviews__text">
                Клиника чистая, уютная. Персонал улыбчивый, вежливый, услужливый. Всегда объяснят если что не понятно
                несколько раз, с
                таким персоналом приятно общаться. Мне уделили довольно много времени, всё подробно рассказали и
                проконсультировали.
              </p>

              <p class="reviews__date">
                12.02.2020
              </p>
            </div>

          </div>
        </li>

        <li class="reviews__item">
          <div class="reviews__box">
            <div class="reviews__img-wrapper">
              <img class="reviews__img" src="images/reviews/people-2.jpg" alt="фото пациента">
            </div>

            <div class="reviews__item-content">
              <p class="reviews__name">
                Корчагина Алёна
              </p>

              <p class="reviews__text">
                Хочу сказать огромное СПАСИБО врачам и персоналу Стоматологии Семейный Доктор. Я ваш вечный клиент и
                главное
                эксклюзивный. Очень рада что мы познакомились. СПАСИБО!
              </p>

              <p class="reviews__date">
                12.02.2020
              </p>
            </div>
          </div>
        </li>

      </ul>
    </div>

    <div class="reviews__social">
      <p class="reviews__social-text">
        Оставить отзыв
      </p>

      <a class="reviews__social-link" href="#">
        <img src="images/social/vk.png" alt="иконка вконтакте">
      </a>
    </div>
  </div>


</section>