<section id="stock" class="stock section">
  <div class="container">
    <h2 class="stock__title title">
      Акции
    </h2>

    <h3 class="stock__subtitle subtitle">
      Для подписчиков группы VK стоматологической клиники "Семейный доктор" <span>действуют акции и специальные
        предложения</span>
    </h3>

    <div class="stock__inner-wrapper">
      <button class="stock-btn__prew slide-arow slide-arow--prew" type="button">
        <span class="sr-only">
          кнопка переключения на предыдущий слайд
        </span>
      </button>

      <button class="stock-btn__next slide-arow slide-arow--next" type="button">
        <span class="sr-only">
          кнопка переключения на предыдущий слайд
        </span>
      </button>

      <ul class="stock__inner">
        <li class="stock__item">
          <img class="stock__item-img" src="images/stock/slide-1.png" alt="">

          <a class="popup-link stock__button button button--transparent" href="#popup">
            Участвовать
          </a>
        </li>

        <li class="stock__item">
          <img class="stock__item-img" src="images/stock/slide-2.png" alt="">

          <a class="popup-link stock__button button button--transparent" href="#popup">
            Участвовать
          </a>
        </li>

        <li class="stock__item">
          <img class="stock__item-img" src="images/stock/slide-3.png" alt="">

          <a class="popup-link stock__button button button--transparent" href="#popup">
            Участвовать
          </a>
        </li>

        <li class="stock__item">
          <img class="stock__item-img" src="images/stock/slide-2.png" alt="">

          <a class="popup-link stock__button button button--transparent" href="#popup">
            Участвовать
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>