.doctors {

  &__sliders {

    display: flex;
    justify-content: space-between;

    @include media-0 {
      justify-content: center;
    }

    .slick-current {

      .min-slider__item {
        background-color: $blue-300;
      }
    }
  }

  &__min-slider-wrapper {
    max-width: 630px;
    width: 100%;

    @include media-0 {
      max-width: 540px;
      margin-right: 10px;
    }

    @include media-2 {
      max-width: 354px;
    }

    @include media-3 {
      display: none;
    }
  }

  &__big-slider-wrapper {
    max-width: 630px;
    width: 100%;
    position: relative;

    @include media-0 {
      max-width: 600px;
    }

    @include media-1 {
      max-width: 422px;
    }

    @include media-2 {
      max-width: 354px;
    }

    .slide-arow {
      top: 30%;

      &--prew {
        left: -10px;
      }

      &--next {
        right: -10px;
      }
    }
  }

  &__button {
    display: block;
    max-width: 188px;
    width: 100%;
    text-align: center;
    margin: 0 auto 30px;
  }
}


.min-slider {
  width: 100%;

  .slick-slide img {
    @include media-2 {
      display: none;
    }
  }

  // .min-slider__item
  &__item {
    position: relative;
    padding: 23px 10px 10px 190px;
    margin-bottom: 30px;
    background-color: $blue-100;
    border-radius: 20px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    overflow: visible;
    transition: background-color 0.3s;
    cursor: pointer;

    @include media-2 {
      padding: 10px 10px 10px 27px;
      min-height: 100px;
    }

  }

  // .min-slider__img
  &__img {
    position: absolute;
    left: 16px;
    bottom: 0;
  }

  // .min-slider__name
  &__name {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;

    @include media-0 {
      font-size: 20px;
    }

    @include media-2 {
      margin-bottom: 14px;
      line-height: 1.2;
    }
  }

  // .min-slider__profession
  &__profession {
    font-weight: 700;
    font-size: 22px;
    color: $blue-700;

    span {
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      color: $dark;
      margin-left: 10px;

      @include media-0 {
        display: inline;
      }
    }

    @include media-0 {
      font-size: 16px;
    }
  }

  .slick-list {
    overflow: visible;
  }
}

.big-slider {

  &__item {
    padding: 40px 10px 0 30px;
    border-radius: 20px;


    @include media-2 {
      padding: 20px 10px 10px 16px;
    }
  }
}

.box-shadow-wrapper {
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}