.documentation {
  padding-bottom: 60px;

  // .documentation__subtitle
  &__subtitle {
    margin-bottom: 30px;
  }

  // .documentation__slider
  &__slider {
    position: relative;

    .slide-arow {
      top: 50%;
      background-color: $blue-300;
      transform: translateY(-50%);

      &--prew {
        left: -20px;
      }

      &--next {
        // top: 0;
        right: -20px;
      }

    }

    .slick-dots {
      bottom: -54px;
    }
  }

  // .documentation__inner
  &__inner {
    .slick-list {
      margin-right: -10px;
      margin-left: -10px;
    }

    .slick-slide {
      margin: 0;

      &>div {
        height: 100%;
      }
    }
  }

  // .documentation__img
  &__img {
    @include media-4 {
      margin: 0 auto;
    }
  }
}