.services {
  padding-bottom: 50px;

  // .services__title
  &__title {}

  // .services__subtitle
  &__subtitle {}

  // .services__banners
  &__banners {}
}

.banners {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-bottom: 30px;

  @include media-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  // .banners__item
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 30px 40px 30px;
    background-color: $blue-100;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    @include media-3 {
      min-height: 560px
    }

    @include media-4 {
      min-height: 740px
    }
  }

  // .banners__img
  &__img {
    position: absolute;
    top: 27px;
    right: 2px;

    @include media-4 {
      max-width: 100px;
      top: -30px;
    }
  }

  // .banners__top
  &__top {
    z-index: 2;
  }

  // .banners__title
  &__title {
    margin-bottom: 9px;
    font-size: 28px;
    color: $blue-700;

    @include media-3 {
      margin-bottom: 20px;
    }

    @include media-4 {
      font-size: 20px;
    }
  }

  // .banners__text
  &__text {
    display: block;
    font-weight: 400;
    max-width: 366px;
    height: 101px;
    @include line-clamp(4);

    @include media-3 {
      height: 126px;
    }

    @include media-4 {
      margin-bottom: 40px;
    }

  }

  // .banners__services-inner
  &__services-inner {
    max-width: 390px;
    width: 100%;
    margin-bottom: 25px;
    font-size: 22px;

    @include media-4 {
      font-size: 18px;
    }
  }

  // .banners__services-item
  &__services-item {
    position: relative;
    padding-left: 20px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 11px;
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $dark;
    }
  }

  &__bottom {
    z-index: 2;
  }

  &__social-wrapper {
    margin-bottom: 33px;

    @include media-4 {
      display: none;
    }
  }

  // .banners__buttons
  &__buttons {
    display: flex;
    justify-content: center;

    @include media-4 {
      display: block;

    }
  }

  // .banners__button
  &__button {
    @include media-4 {
      display: block;
      margin: 0 auto;
      padding: 7px 39px;
    }


    &:not(:last-child) {
      margin-right: 30px;

      @include media-4 {
        margin: 0 auto 30px;
      }
    }
  }
}

.technology {
  background-color: $blue-100;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;


  // .technology__top
  &__top {
    display: flex;
    justify-content: space-between;
    padding: 60px 80px 25px;
  }

  // .technology__info
  &__info {}

  // .technology__title
  &__title {
    margin-bottom: 60px;
    font-size: 28px;
    color: $blue-700;

    span {
      font-weight: 900;
      color: $blue-900;
    }
  }

  // .technology__video-text
  &__video-text {
    margin-bottom: 9px;
    color: $blue-700;
    font-weight: 400;
    line-height: 1.2;
  }

  // .technology__video-link
  &__video-link {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 305px;
    max-width: 550px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    outline: transparent;
    transition: box-shadow 0.3s,
      transform 0.3s;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url('../../images/services/play.svg');
      width: 110px;
      height: 110px;
      transition: transform 0.3s;
    }

    &:hover {
      box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.6);

      &:before {
        transform: scale(1.2)
      }
    }

  }

  // .technology__button
  &__button {}

  // .technology__top-inner
  &__top-inner {
    font-size: 22px;
    font-weight: 500;
  }

  // .technology__top-item
  &__top-item {
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 11px;
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $dark;
    }
  }

  // .technology__bottom
  &__bottom {
    padding: 60px 30px 77px 80px;
    box-shadow: inset 0 0 0 100vh rgba(255, 255, 255, 0.4);
    @extend%bg;
  }

  // .technology__step-inner
  &__step-inner {
    margin-bottom: 60px;
  }

  // .technology__step-item
  &__step-item {
    display: flex;
    align-items: center;
    max-width: 770px;
    width: 100%;
    padding: 10px 10px 10px 20px;
    background-color: $blue-300;
    border-radius: 20px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:nth-child(2) {
      transform: translateX(15%);
    }

    &:nth-child(3) {
      transform: translateX(30%);
    }

    &:nth-child(4) {
      transform: translateX(45%);
    }
  }

  // .technology__step-num
  &__step-num {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 40px 3px 33px;

    min-width: 107px;

    margin-right: 30px;
    background-color: $white;
    border-radius: 50%;
    font-style: italic;
    font-weight: 700;
    font-size: 68px;
    color: $blue-900;
  }

  // .technology__step-text
  &__step-text {}

  // .technology__social-wrapper
  &__social-wrapper {
    margin-bottom: 30px;
  }

  &__buttons {
    display: flex;
    justify-content: center;

    @include media-4 {
      display: block;
    }
  }


  &__button {
    @include media-4 {
      display: block;
      margin: 0 auto;
      padding: 7px 39px;
    }


    &:not(:last-child) {
      margin-right: 30px;

      @include media-4 {
        margin: 0 auto 30px;
      }
    }
  }
}