//----------colors---------------//
$white: #ffff;
$dark : #474551;
$blue-900: #09845B;
$blue-700: #3A9B7B;
$blue-700-0_8: rgba(#3A9B7B, 0.8);
$blue-500: #1ED499;
$blue-300: #58EBBB;
$blue-100: #aef3dc;
//-------------------------//

%bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

//-------------------------//

@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

//-------------------------//

$md0:1400;
$md1:1200;
$md2:992;
$md3:768;
$md4:576;

@mixin media-0 {
  @media (max-width: #{$md0}px) {
    @content;
  }
}

@mixin media-1 {
  @media (max-width: #{$md1}px) {
    @content;
  }
}

@mixin media-2 {
  @media (max-width: #{$md2}px) {
    @content;
  }
}

@mixin media-3 {
  @media (max-width: #{$md3}px) {
    @content;
  }
}

@mixin media-4 {
  @media (max-width: #{$md4}px) {
    @content;
  }
}

//-------------------------//

@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: "#{$font-family}";
    src: url('../fonts/#{$url}.woff2') format("woff2"),
    url('../fonts/#{$url}.woff') format("woff");
    font-weight: #{$weight};
    font-display: swap;
    font-style: normal;
  }
}
//-------------------------//

